<div class="resume">
    <div class="container">
        <h2>My work</h2>
        <a class="btn-back" routerLink="home">Go back</a>

        <div class="grid-card">
            <div class="card">
                <div class="img"><img src="/portfolio/assets/truwood.png" alt=""></div>
                <div class="caption">
                    <h3>Truwood</h3>
                    <a href="https://truwoodsiding.com/">truwoodsiding.com</a>
                    <p>Troubleshot and resolved various bugs to ensure smooth functionality and performance.</p>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="/portfolio/assets/sonata.png" alt=""></div>
                <div class="caption">
                    <h3>Sonata</h3>
                    <a href="https://sonatadetalles.com/">sonatadetalles.com</a>
                    <p>Implemented custom CSS styles to enhance the user interface and ensure responsive layouts.</p>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="/portfolio/assets/yba.png" alt=""></div>
                <div class="caption">
                    <h3>YellowBrick</h3>
                    <a href="https://yellowbrickparkinglot.com/">yellowbrickparkinglot.com</a>
                    <p>Created and customized themes to align with project branding and improve user experience</p>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="/portfolio/assets/carola.png" alt=""></div>
                <div class="caption">
                    <h3>Carola</h3>
                    <a href="https://carolalodge.com/">carolalodge.com</a>
                    <p>Created the page structure and styled sections using CSS</p>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="/portfolio/assets/eco.jpg" alt=""></div>
                <div class="caption">
                    <h3>Ecologic</h3>
                    <a href="https://eco.hostsites.me/">eco.hostsites.me</a>
                    <p>Designed the website layout with custom CSS for a clean and modern look</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  