<div class="resume">
  <div class="container">
    <aside>
      
      <div class="row">
        <div class="contact">
          <a routerLink="/home">Go back</a>
        </div>
        <h4>Core Technologies:</h4>
        <ul>
          <li>JavaScript</li>
          <li>CSS-in-JS</li>
          <li>HTML</li>
          <li>TypeScript</li>
          <li>Sass</li>
          <li>Angular</li>
          <li>Tailwind</li>
          <li>Wordpress</li>
          <li>Sql</li>
          <li>Python</li>
          <li>Postgres</li>
        </ul>
      </div>
      <div class="row">
        <h4>Others:</h4>
        <ul>
          <li>Figma</li>
          <li>Adobe XD</li>
          <li>Git</li>
        </ul>
      </div>
    </aside>
    <div class="presentation">
      <div class="caption">
        <h1>
          Ana Valentina <br />
          Jimenes Cruz
        </h1>
        <h5>Fronted developer</h5>
      </div>
      <div class="experience">
        <div class="principal">
          <h2>Experience</h2>
          <p>
            I’ve worked on a handful of web projects over the years, some of
            which were for the following organization:
          </p>
        </div>
        <div class="card">
            <h3>Slinky</h3> <span> August 2023 - December 2024</span>
            <ul>
                <li>Frontend Development: Designed and implemented intuitive user interfaces using HTML, CSS, and JavaScript</li>
                <li>WordPress Customization: Developed and customized WordPress themes and templates based on client requirements.</li>
                <li>Problem-Solving: Identified and efficiently resolved technical issues to ensure a smooth user experience.</li>
                <li>Plugin Modification: Modified and extended WordPress plugin functionalities to optimize performance and adapt them to specific needs.</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
