.nav{
    width: 100%;
    display: flex;
    
    padding: 20px 15px;
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    justify-content: space-between;
    .container{
        max-width: 1100px;
        margin:0 auto;
        width: 100%;
    }
    .logo{
        width: 60px;
        height: 60px;
        display: block;
        background-image: url("/../../assets/logo.png");
        background-size: contain;
    }
}