/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    h2, h1, h3,h4, h5{
        font-family: "DM Serif Display", serif;
        font-weight: 600;
        font-style: normal;
    }
    h1{
        letter-spacing: 5px;
            font-size: 50px;
            @media only screen and (max-width: 767px){
                font-size: 35px;
                line-height: 38px;
            }
    }
    p,li, a, div, span{
        font-family: "Montserrat", serif;

    }
    p, li{
        line-height: 1.5;
    }
    div{
        box-sizing: border-box;
    }
    ul{

    }
}